#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

#define PLOVER 0
/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "PLOVER";
                        bindings = <
   &trans &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp LBKT
   &trans &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &trans &trans &trans &trans &trans &trans   &trans &trans  &trans &trans &trans &kp BSPC 
                  &kp V &kp B &kp N1   &kp N1 &kp N &kp M
                        >;
                };
        };
};
